/* .qaheader{
    text-align: center;
    font-size: 27px;
    border-bottom: 2px solid purple;
    text-shadow: 2px 2px #31b2dc;
    margin: 0;
} */

.header{

    flex: 0.2;
    text-align: center;
    font-size: 27px;
    border-bottom: 2px solid purple;
    text-shadow: 2px 2px #31b2dc;
    margin: 0;
    font-size: 41px;
}